VITE_APP_NAME=KiliMarkets
VITE_NETWORK=testnet
VITE_CHAIN_ID=injective-888
VITE_EVM_CHAIN_ID=1439
VITE_INDEXER_URL=https://testnet.sentry.exchange.grpc-web.injective.network
VITE_GRPC_URL=https://testnet.sentry.chain.grpc-web.injective.network
VITE_LCD_URL=https://testnet.sentry.lcd.injective.network
VITE_RPC_URL=https://testnet.sentry.tm.injective.network
VITE_EVM_RPC_URL=https://k8s.testnet.json-rpc.injective.network/
VITE_WS_URL=wss://k8s.testnet.ws.injective.network/
VITE_COMMODITY_REGISTRY_ADDRESS=
VITE_TOKEN_FACTORY_ADDRESS=
VITE_HEDGE_MANAGER_ADDRESS=
